.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "navbar navbar navbar"
    "banner banner banner"
    "quit quit motivation"
    "tips facts help"
    "footer footer footer";
    grid-gap: 0.5rem;
}

.navbar{
    grid-area: navbar;
    background-color: #d6e5bd;
}

.navbar ul{
    list-style-type: none;
    text-align: center;
    padding: 0%;
    margin: 0%;  
}

.navbar li{
    display:inline-block;
    margin: 0 20px;
}

.navbar a{
    text-decoration: none;
    color: rgb(10, 37, 59);
    font-size: 20px;
    padding: 5px 10px;
    transition: backround-colour 0.5s;
}

.banner{
    grid-area: banner;
    background-color: #d6e5bd;
    text-align: center;
}

.quit{
    grid-area: quit;
    background-color: #d6e5bd;
   
}

.motivation{
    grid-area: motivation;
    background-color: #d6e5bd;
}

.tips{
    grid-area: tips;
    background-color: #d6e5bd;
}

.facts{
    grid-area: facts;
    background-color: #d6e5bd;
}

.help{
    grid-area: help;
    background-color: #d6e5bd;
    padding: 0 20px;

}

.footer{
    grid-area: footer;
    background-color: #d6e5bd;
}

.quit ul{
    list-style-type: none;
    text-align: center;
    padding: 5px;
    margin: 5px;
}

.quit li{
    display: inline-block;
    margin: 0 20px;
}

.quit a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 5px ;
    background-color: 0.5s;
}

.quit img{
    width: 10%;
    height: auto;
}